#tax {
    text-align: center;
}
#startWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    border: 1px solid blue;
    cursor: pointer;
}
#moneyWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
